# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\noahf\IdeaProjects\Teaching-HEIGVD-RES-2021-Exercise-Protocol-Design_2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
